html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: black;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 950px;
  padding: 50px; 50px;
  background: #f0ead6;
  overflow: auto;
}

header {
  position: relative;
}

nav {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  text-align: center;
  font-size: 2em;
  background: black;
}

nav a {    
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: monospace;
  color: white;
  position: fized;
}  
  
header h3 {
  padding-top: 75px;
  text-align: center;
  color: white;
}

.trip-f {
  width: 30%;
  float: left;
  margin-right: 15px;
  font-weight: bold;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Flag-map_of_Alabama.svg/200px-Flag-map_of_Alabama.svg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border: 4px solid black;
  text-align: left;
  background-color: white;
}

.bama-early {
  float: left;
  margin-left: 20px;
  padding-right: 20px;
}

.faith {
  border: 1px solid black;
  color: black;
}

.football {
  border: 1px solid red;
  color: red;
}

.family {
  border: 1px solid green;
  color: green;
}

.ul-1 {
  list-style-type: circle;
  text-align: left;
  font-weight: bold;
  color: black;
}

h6 {
  font-size: 1.5em;
}
